.DS_Store
MDCurveKitDemo.xcworkspace/xcshareddata/MDCurveDemoKit.xccheckout
MDCurveKitDemo.xcodeproj/xcuserdata/
MDCurveKitDemo.xcodeproj/project.xcworkspace/xcuserdata/
MDCurveKitDemo.xcworkspace/xcuserdata/
