.DS_Store
MDCurveKitDemo/MDCurveKitDemo.xcworkspace/xcshareddata/MDCurveDemoKit.xccheckout
MDCurveKitDemo/MDCurveKitDemo.xcodeproj/xcuserdata/
MDCurveKitDemo/MDCurveKitDemo.xcodeproj/project.xcworkspace/xcuserdata/
MDCurveKitDemo/MDCurveKitDemo.xcworkspace/xcuserdata/
